<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index</title>
</head>

<body>
	<a th:href="@{/account/add}">Add</a> |
	<a th:href="@{/user}">User</a>
	<h3>Account List</h3>
	<th:block th:text="${msg}"></th:block>
	
	<table border="1">
		<tr>
			<th>Id</th>
			<th>Email</th>
			<th>Password</th>
			<th>Status</th>
			<th>Role</th>
			<th>More</th>
		</tr>
		<tr th:each="account : ${accounts}">
			<td th:text="${account.id}"></td>
			<td th:text="${account.email}"></td>
			<td th:text="${account.password}"></td>
			<td th:text="${account.status ? 'show':'hide'}"></td>
			<td th:text="${account.role.name}"></td>

			<td>
			<a th:href="@{'/account/edit/' + ${account.id}}">Edit</a> ||
			<a th:href="@{'/account/updatePassword/' + ${account.email}}">Change Pass</a> ||
			<a th:href="@{'/account/delete/' + ${account.id}}" onclick="return confirm('Are you sure')">Delete</a>  
			</td>
		</tr>
	</table>

</body>

</html>