<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Edit</title>


<link rel="stylesheet"
	href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<h3>AAA</h3>

<script>
		$( function() {
    	$( "#datepicker" ).datepicker();
  	} );
	</script>
</head>

<body>
	<a th:href="@{/account/index}">Back</a>
	<h3>Edit</h3>
	<th:block th:text="${msg}"></th:block>
	<form method="post" th:action="@{/account/changePass}">

		<table>
			<tr>
				<td>Current Password:</td>
				<td><input type="password" name="currentPassword"></td>
			</tr>
			<tr>
				<td>New Password:</td>
				<td><input type="password" name="newPassword"></td>
			</tr>
			<tr>
				<td>Confirm Password:</td>
				<td><input type="password" name="confirmPassword"></td>
			</tr>

			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="Update"></td>
			</tr>
		</table>
			<input type="hidden" th:field="${account.id}"> 
			<input type="hidden" th:field="${account.email}"> 
			<input type="hidden" th:field="${account.role.id}">
		</table>
	</form>

</body>

</html>